@{
    ViewData["Title"] = "Register Customer";
    ViewBag.PageName = "Register a Customer!";
}


<form action="" method="post" role="form" class="contactForm">
    <div class="form-group">
        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
        <div class="validation"></div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
        <div class="validation"></div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="number" id="subject" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter a valid phone number" />
        <div class="validation"></div>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="" id="address" rows="5" data-rule="required" data-msg="Please enter your address" placeholder="Your Address"></textarea>
        <div class="validation"></div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-theme">Register as a Customer</button>
    </div>
</form>