
@{
    ViewData["Title"] = "AddedStocks";
    ViewBag.PageName = "Add New Stocks";
}

<div>
    <input type="text" name="name" value="" placeholder="Enter Stock Name" />

    <input type="button" name="name" value="Search" />
</div>

<div>
    <label>Old Stock Balance</label>
    <input type="text" name="" value="" readonly class="form-control" />

    <label>Added Stock</label>
    <input type="text" name="" value="" class="form-control" />

    <label>New Stock Balance</label>
    <input type="text" name="" value="" class="form-control" />

    <input type="button" name="" value="Add Stock" class="form-control" />
</div>


